.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.8rem;
}

.paginationText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 1.5rem;
  color: #808080;
}

.paginationContainer {
  display: flex;
  align-items: center;
  list-style: none;
}

.paginationContainer > li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin: 0 0.5rem;
  cursor: pointer;
}

.paginationPrevious > a,
.paginationNext > a {
  display: flex;
  align-items: center;
}

.paginationActive {
  padding: 2px 6px;
  background-color: #0064eb;
  border-radius: 3px;
}

.paginationActiveLink {
  color: #ffffff;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .paginationText {
    margin: 0 0.8rem 0.5rem 0;
  }

  .paginationContainer {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 14rem;
  }

  .paginationContainer > li {
    margin-bottom: 0.5rem;
  }
}
